include PrismataAI/source/engine/*.h PrismataAI/source/engine/*.hpp PrismataAI/source/rapidjson/* PrismataAI/source/rapidjson/error/* PrismataAI/source/rapidjson/msinttypes/* PrismataAI/source/rapidjson/internal/*
